# gitignore files:

# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local
# Ignore temporary files
*.tmp

# Ignore temporary directories
tmp/

